<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Watch List</title>

    <!-- Bootstrap -->
    <link href="bootstrap-3.3.7-dist/css/bootstrap.css" rel="stylesheet">
    <link href="css/dark-mode.css" rel="stylesheet">
    <link href="css/custom.css" rel="stylesheet">

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="js/jquery-1-12-4.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="bootstrap-3.3.7-dist/js/bootstrap.js"></script>
    
  </head>

  <body data-theme="dark">

    <!-- Modal window with loading spinner -->
    <div class="modal fade bd-example-modal-lg" data-backdrop="static" data-keyboard="false" tabindex="-1">
      <div class="modal-dialog modal-sm">
        <div class="modal-content" style="width: 48px">
          <img src="pendulum.gif">
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row justify-content-md-center">
        <div class="col-md-1"></div>
        <div class="col-md-10 text-center">
          <h2 class="text-primary">Сериалы</h2>
        </div>
      </div>
    </div>

    <script>
      function play(path, videoId){
        $('.modal').modal('show');

        var xhr = new XMLHttpRequest();

        xhr.addEventListener("readystatechange", function() {
          if (this.readyState === 4) {
            $('.modal').modal('hide');
          }
        });

        var body = '{"videoId": "' + encodeURIComponent(videoId) + '", "videoPath": "' + encodeURIComponent(path) + '"}';
        xhr.open("POST", '/play', true);
        xhr.setRequestHeader('Content-Type', 'application/json');
        xhr.send(body);
      }
    </script>

    <div class="container">
      {{#watchlist}}
      <div class="row justify-content-md-center" onclick="play('{{toWatchEpisodePath}}', '{{id}}')">
        <div class="col-md-1"></div>
        <div class="col-md-10">
          <div class="p-2">
            <div class="panel panel-primary card">
              <div class="panel-heading">
                  <h3 class="panel-title">{{title}}</h3>
              </div>
              <div class="panel-body align-middle">
                <span class="text-justify align-middle">{{toWatchEpisodePath}}<a href="#" class="btn btn-primary pull-right" role="button">Включить</a></span>
              </div>
            </div>
          </div>
        </div>
      </div>
      {{/watchlist}}
    </div>
  </body>
</html>