# Бинарные файлы и исполняемые файлы
bin/
*.exe
*.exe~
*.dll
*.so
*.dylib

# Инструменты тестирования и покрытия
*.test
*.out
coverage.txt

# Зависимости (если вы используете vendor, уберите эту строку)
# vendor/

# Конфиденциальные данные и локальные конфиги
.env
*.local

# Специфические файлы IDE
.idea/
.vscode/
*.swp
*.swo

# Логи
*.log
