/* .card {
    width: 50vw;
    margin: auto;
    margin-top: 10vh;
} */

.panel-body {
    border-radius: 4px;
}

.bd-example-modal-lg .modal-dialog{
    display: table;
    position: relative;
    margin: 0 auto;
    top: calc(50% - 24px);
}

.bd-example-modal-lg .modal-dialog .modal-content{
    background-color: transparent;
    border: none;
}